/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhai", cursive;
  background-color: #2f1002;
  padding: 20px;
  color: #2f1002;
}

.lg-out {
  font-family: "Baloo Bhai", cursive;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #b5977b;
  color: #270f02;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-link {
  color: #270f02;
  text-decoration: none;
  font-size: 20px;
}

.logout-link:hover {
  text-decoration: underline;
}

/* Header */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #ebd0b6;
}

.new-task {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ddb997;
  text-align: center;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #ddb997;
  text-align: center;
}

/* Todo Container */
.todo {
  background-color: #926840;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.todo-task {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.button-row {
  margin-top: 30px;
  justify-content: center;
  height: 30px;
}

.form-group {
  flex: 1;
  flex-shrink: 0;
}

.form-group label {
  display: inline-block;
  width: 100px;
}

.form-group input,
.form-group select {
  display: inline-block;
  width: 200px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.todo-task button {
  flex: 0 1 50px;
  background-color: #104912;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-task button:hover {
  background-color: #45a049;
}

/* Todo List */
.todo-list {
  list-style-type: none;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
}

.todo-list-item {
  display: flex;
  align-items: center;
  background-color: #926840;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  gap: 10px;
}

.todo-list-item .task-form,
.todo-list-item .delete-button {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}

.todo-list-item .delete-button {
  flex: 0;
}

.todo-list-item input,
.todo-list-item select {
  padding: 5px;
  border-radius: 5px;
  flex: 1;
  outline: none;
  border: none;
}

.todo-list-item input[type="checkbox"] {
  flex: 0 1 auto;
  width: 25px;
  height: 25px;
}

.todo-list-item button {
  background-color: #0f446f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-list-item button:hover {
  background-color: #0b7dda;
}

.todo-list-item .delete-button button {
  background-color: #7e211a;
}

.todo-list-item .delete-button button:hover {
  background-color: #da190b;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #be9d6c;
  color: #101010;
  margin: 15% auto;
  padding: 10px 20px 30px 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 30%;
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-top h1 {
  color: black;
}
.close {
  color: #2c2b2b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.modal-bottom label {
  display: inline-block;
  width: 120px;
  margin-bottom: 5px;
}

.modal-bottom input,
.modal-bottom select {
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  width: 230px;
}

#completed-wrapper input {
  height: 15px;
  width: 15px;
  padding-right: 10px;
}

#save-task {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 70px;
  height: 30px;
  margin-top: 20px;
  padding: 5px 10px;
}
/* Responsive Design */
@media (max-width: 768px) {
  .todo-task,
  .todo-list-item {
    flex-direction: column;
    align-items: stretch;
  }

  .todo-task label,
  .todo-task input,
  .todo-task select,
  .todo-task button,
  .todo-list-item input,
  .todo-list-item select,
  .todo-list-item button {
    flex: 1 1 100%;
    margin-bottom: 10px;
  }

  .lg-out {
    position: static;
    display: block;
    margin: 10px auto;
  }
}
